<h2>Все заметки</h2>
<div class="row">
  <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="media-body">
            <%= link_to post.title, post_path(post), class: "text-center" %>
            <p><%= post.text %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>