.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('_6bQDKudTCg.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
    background-color: #dfdade;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p{
    font-size:15px;
    margin-bottom:13px;
}

a.spoiler:after{
    content: " [-]";
}

a.spoiler.collapsed:after{
    content: " [+]";
}

#post_text{
    display: block;
    height: 100%;
    min-height: 120px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    padding: 10px;
}

.theme_life:hover{
    background-color: #5CB85C
}

.theme_work:hover{
    background-color: #8a8fed
}
/*footer*/


#footer {
    border-top: 5px solid #cd811e;
    background: #7b7a7b none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #7e7b7d none repeat scroll 0% 0%;
    padding: 10px 0px;
}

/*comments*/
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.comment{
    padding: 5px;
}


