<footer id="footer" class="clearfix">
  <div id="footer-widgets">

    <div class="container">

      <div id="footer-wrapper">

        <div class="row">

          <div class="col-sm-6 col-md-4">
            <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
              <h4 class="widgettitle">Ссылки на социальные сети :</h4>
              <ul>
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100009960810198" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li>
                  <a href="https://www.vk.com/cool_st0ry" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> VK</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/did.aleks/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                </li>
              </ul>
            </div>            </div> <!-- end widget1 -->

          <div class="col-sm-6 col-md-4">
            <div id="meta-4" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Subscribe :</h4>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">E-mail :</span>
                  <input class="form-control" placeholder="Напишите свой email .." type="text">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Телефон  :</span>
                  <input class="form-control" placeholder="+7 917 123 4567" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Подписаться !</button>
                  </span>
                </div>
              </div>


            </div>
          </div> <!-- end widget1 -->

          <div class="col-sm-6 col-md-4">
            <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Поиск на сайте :</h4>

              <div class="form-group">
                <label class="control-label">Наберите что хотите найти  :</label>
                <div class="input-group">
                  <span class="input-group-addon">Поиск :</span>
                  <input class="form-control" placeholder="Keyword for search ..." type="text">
                  <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Найти</button>
                                  </span>
                </div>
              </div>

            </div>            </div> <!-- end widget1 -->

        </div> <!-- end .row -->

      </div> <!-- end #footer-wrapper -->

    </div> <!-- end .container -->
  </div> <!-- end #footer-widgets -->

  <div id="sub-floor">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 attribution">
          Developer by  <a target="_blank" href="#">Alex D</a> .
        </div>
      </div> <!-- end .row -->
    </div>
  </div>

</footer>