<div id="carousel" class="carousel slide">
    <!--Индикаторы слайдов-->
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!--Cлайды-->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://img4.goodfon.ru/original/1366x768/0/78/prizrak-v-dospekhakh-ghost-in-the-shell-fantastika-boevik-ar.jpg">
            <div class="carousel-caption">
                <h3>
                    Первый слайд
                </h3>
                <p>
                    Описание 1
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://img1.goodfon.ru/original/1366x768/b/19/ghost-in-the-shell-motoko.jpg">
            <div class="carousel-caption">
                <h3>
                    Второй слайд
                </h3>
                <p>
                    Описание 2
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://img1.goodfon.ru/original/1366x768/7/1f/prizrak-v-dospehah-ghost-in.jpg">
            <div class="carousel-caption">
                <h3>
                    Третий слайд
                </h3>
                <p>
                    Описание 3
                </p>
            </div>
        </div>

    </div>

    <!--Стрелки переключения слайдов-->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
